<div class="wrapper wrapper-content animated fadeInRight">
<h1>About Page</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    This is the about page
                </h1>
                <small>This will say something about the blog or something.</small>
                <h4><%= link_to 'home', home_index_path %></h4>
            </div>
        </div>
    </div>
</div>